.contents {
    float: none;
    margin: 0 auto;
  background-color: white;
  height:130px;
  width:250px;
}
.container-fluid{
  //background-image: url("http://freebigpictures.com/wp-content/uploads/2009/09/sky-clouds.jpg");
  background-repeat: no-repeat;
    background-position: center;
  width:100%;
  height:100%;
  min-height:400px;
background-size: cover;
 }
#cityWeather{
  
  margin-top:20px;position:relative;
  width:200px;
  height:20px;
 }
#cityOnly{
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  color:#000;
 }
#weatherOnly{
  position:absolute;
  right:0;
  top:0;  
  width:100px;
  color:#000;
}
#tempRow{
  position:relative;  
  margin-top:60px;
  width:200px;
}
#temp{
  position:absolute;
  top:0;
  left:0;
  width:100px;  
  margin-left:60px;
  color:#000;
}
#tempBut{
  position:absolute;
  top:0;
  right:0;
  width:100px; 
  color:#000;
}